<div class="jumbotron">
    <h1>Teleios Power Hour: Live </h1>
    <p class="lead">Episode 2, in which we talk about Odata.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>OData means Open Data Protocol. It's great for making data: 
        <ul>
            <li></li>Accessible over the web
            <li>Available in common formats</li>
            <li>
                Easily queryable
            </li></ul></p>
        <p><a class="btn btn-default" href="http://odata.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>In-memory Odata stores</h2>
        <p>This is an example of a site that provides an Odata endpoint without using Entity Framework.</p>
        <p><a class="btn btn-default" href="http://www.odata.org/blog/how-to-use-web-api-odata-to-build-an-odata-v4-service-without-entity-framework/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More on how to use OData</h2>
        
        <p><a class="btn btn-default" href="http://www.odata.org/getting-started/understand-odata-in-6-steps/">Learn more &raquo;</a></p>
    </div>
</div>
